#apply .jumbotron {
  background-image: url('../../img/bg.jpg'); 
  background-attachment: fixed; 
  background-position: center; 
  object-fit: center; 
  max-width: 100%;
  }

#apply .jumbotron {
    border-radius: 0;
  }
